.h1, .modal-content{
    font-family:'Permanent Marker', cursive;
    font-size: 50px;
}
.card,img,label,.modal-content{
    border: 2px solid #FFC300;
}
.h1{
    color: #FFC300 !important;

}
h2,#res{
     font-family:'VT323', monospace;
     font-size: 40px;
 }

#i{
    font-size: 30px;
    padding:20px;
    color: black;
}
#resumes{
    margin: 5px;

}
#about{
    padding: 10px;
}

#contact {
    margin-left: 10px; 
    text-align: center
}


  
